*.idea*
.idea/datascience_nanodegree.iml
.idea/misc.xml
.pyc
__pycache__
.ipynb_checkpoints
notebooks/Part_II_exploration_to_delete_after.ipynb
data/raw/calendar/london/*
data/raw/listings/london/*
data/raw/listings_summary/london/*
data/raw/reviews/london/*
data/raw/reviews_summary/london/*
notebooks/4_Price_Prediction.ipynb
notebooks/pipe examples with transformers.ipynb
notebooks/plot_linear_model_coefficient_interpretation.ipynb
notebooks/plot_linear_model_coefficient_interpretation 2.ipynb
notebooks/plot_linear_model_coefficient_interpretation_airbnb.ipynb
notebooks/plot_underfitting_overfitting.ipynb
notebooks/Testing Linear Regression Assumptions in Python.ipynb
notebooks/Untitled.ipynb
notebooks/columntranform distort shape.ipynb
notebooks/plot_cv_indices.ipynb
notebooks/4_Price_Prediction_latest-Copy1.ipynb
